
@font-face {
  font-family: 'National 2 Condensed';
  src: url("https://online.kfc.co.in/static/media/National2Condensed-Bold.a091dde9.otf") format("opentype");
}
@font-face {
  font-family: 'National 2 Regular';
  src: url("https://online.kfc.co.in/static/media/National2-Regular.18ca0636.otf") format("opentype");
}
@font-face {
  font-family: 'National2-Medium';
  src: url("https://online.kfc.co.in/static/media/National2-Medium.86921bd9.otf") format("opentype");
}
